.access-denied-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-white);
  color: var(--gray-dark);
  text-align: center;
  padding: var(--component-spacing);
}

.access-denied-container h2 {
  font-size: 2.5rem;
  color: var(--error-red);
  margin-bottom: var(--component-spacing);
}

.access-denied-container p {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.access-denied-container button {
  background-color: var(--error-red);
  color: var(--background-white);
  padding: 0.9rem 1.6rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all 0.3s ease;
  box-shadow: var(--soft-shadow);
  margin-top: var(--component-spacing);
}

.access-denied-container button:hover {
  transform: translateY(-3px);
  box-shadow: var(--hover-shadow);
}